.logo {
  height: 50px;
}

header {
  text-align: center;
}

.app {
  text-align: center;
}

.intro {
  font-weight: bolder;
  font-size: 20px;
}

twitterwidget {
  margin: 0 auto;
}

body {
  font-family: monospace;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
}

.white-text {
  color: white;
}
